<div class="control-panel">
  <div class="lower-zone d-flex justify-content-around">

    <div class="lower-half">
      <div class="row d-flex justify-content-around">
        <div>
          <span class="round-btn bg-danger"></span>
          <span class="label">RESET</span>
        </div>
        <div>
          <span class="round-btn bg-warning">
          </span>
          <span class="label">PAUSE</span>
        </div>
        <div>
          <span class="round-btn bg-success">
          </span>
          <span class="label">START</span>
        </div>
      </div>

      <div class="row m-3 d-flex justify-content-around">
        <div>
          <span class="round-btn bg-secondary round-btn-large"></span>
          <span class="label">DROP DOWN</span>
        </div>
      </div>
    </div>

    <div class="lower-half">
      <div class="row d-flex justify-content-around">
        <div>
          <span class="round-btn round-btn-medium bg-secondary p-4">
            <i class="fa fa-rotate-left"></i>
          </span>
          <span class="label">ROTATE</span>
        </div>
      </div>
      <div class="row d-flex justify-content-around">
        <div>
          <span class="round-btn round-btn-medium bg-secondary p-4">
            <i class="fa fa-arrow-left"></i>
          </span>
          <span class="label">MOVE LEFT</span>
        </div>
        <div>
          <span class="round-btn round-btn-medium bg-secondary p-4">
            <i class="fa fa-arrow-right"></i>
          </span>
          <span class="label">MOVE RIGHT</span>
        </div>
      </div>
      <div class="row d-flex justify-content-around">
        <div>
          <span class="round-btn round-btn-medium bg-secondary p-4">
            <i class="fa fa-arrow-down"></i>
          </span>
          <span class="label">MOVE DOWN</span>
        </div>
      </div>
    </div>
  </div>
</div>
